<a href="https://colab.research.google.com/github/Ayesha-Noor-8874/Airbnb-Host-Analysis/blob/main/AirBNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('/content/Airbnb_Open_Data.csv')
df.head()

/tmp/ipython-input-2514242390.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [5]:
#Basic Datainspection
print("Shape of datset is: ",df.shape)
print("\n===== INFO =====")
print(df.info())

print("\n===== MISSING VALUES =====")
print(df.isnull().sum())

print("\n===== DESCRIPTIVE STATS =====")
print(df.describe(include='all'))

Shape of datset is:  (102599, 26)

===== INFO =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB
None

===== MISSING VALUES =====
id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

===== DESCRIPTIVE STATS =====
                  id                 NAME       host id  \
count   1.025990e+05               102349  1.025990e+05
unique           NaN                61281           NaN
top              NaN  Home away from home           NaN
freq             NaN                   33           NaN
mean    2.914623e+07                  NaN  4.925411e+10
std     1.625751e+07                  NaN  2.853900e+10
min     1.001254e+06                  NaN  1.236005e+08
25%     1.508581e+07                  NaN  2.458333e+10
50%     2.913660e+07                  NaN  4.911774e+10
75%     4.320120e+07                  NaN  7.399650e+10
max     5.736742e+07                  NaN  9.876313e+10

       host_identity_verified host name neighbourhood group  \
count                  102310    102193              102570
unique                      2     13190                   7
top               unconfirmed   Michael           Manhattan
freq                    51200       881               43792
mean                      NaN       NaN                 NaN
std                       NaN       NaN                 NaN
min                       NaN       NaN                 NaN
25%                       NaN       NaN                 NaN
50%                       NaN       NaN                 NaN
75%                       NaN       NaN                 NaN
max                       NaN       NaN                 NaN

             neighbourhood            lat           long        country  ...  \
count               102583  102591.000000  102591.000000         102067  ...
unique                 224            NaN            NaN              1  ...
top     Bedford-Stuyvesant            NaN            NaN  United States  ...
freq                  7937            NaN            NaN         102067  ...
mean                   NaN      40.728094     -73.949644            NaN  ...
std                    NaN       0.055857       0.049521            NaN  ...
min                    NaN      40.499790     -74.249840            NaN  ...
25%                    NaN      40.688740     -73.982580            NaN  ...
50%                    NaN      40.722290     -73.954440            NaN  ...
75%                    NaN      40.762760     -73.932350            NaN  ...
max                    NaN      40.916970     -73.705220            NaN  ...

       service fee minimum nights number of reviews last review  \
count       102326  102190.000000     102416.000000       86706
unique         231            NaN               NaN        2477
top           $41             NaN               NaN   6/23/2019
freq           526            NaN               NaN        2443
mean           NaN       8.135845         27.483743         NaN
std            NaN      30.553781         49.508954         NaN
min            NaN   -1223.000000          0.000000         NaN
25%            NaN       2.000000          1.000000         NaN
50%            NaN       3.000000          7.000000         NaN
75%            NaN       5.000000         30.000000         NaN
max            NaN    5645.000000       1024.000000         NaN

        reviews per month review rate number calculated host listings count  \
count        86720.000000      102273.000000                  102280.000000
unique                NaN                NaN                            NaN
top                   NaN                NaN                            NaN
freq                  NaN                NaN                            NaN
mean             1.374022           3.279106                       7.936605
std              1.746621           1.284657                      32.218780
min              0.010000           1.000000                       1.000000
25%              0.220000           2.000000                       1.000000
50%              0.740000           3.000000                       1.000000
75%              2.000000           4.000000                       2.000000
max             90.000000           5.000000                     332.000000

        availability 365  house_rules   license
count      102151.000000        50468         2
unique               NaN         1976         1
top                  NaN       #NAME?  41662/AL
freq                 NaN         2712         2
mean          141.133254          NaN       NaN
std           135.435024          NaN       NaN
min           -10.000000          NaN       NaN
25%             3.000000          NaN       NaN
50%            96.000000          NaN       NaN
75%           269.000000          NaN       NaN
max          3677.000000          NaN       NaN

[11 rows x 26 columns]

In [8]:
#Remove Duplicates
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]
print(f"\nRemoved {before - after} duplicate rows.")

#Handle missing values
# Fill numeric NaNs with median
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())
# Fill categorical NaNs with mode
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])
print("\nMissing values after cleaning:")
print(df.isnull().sum())

Removed 0 duplicate rows.

Missing values after cleaning:
id                                0
NAME                              0
host id                           0
host_identity_verified            0
host name                         0
neighbourhood group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country code                      0
instant_bookable                  0
cancellation_policy               0
room type                         0
Construction year                 0
price                             0
service fee                       0
minimum nights                    0
number of reviews                 0
last review                       0
reviews per month                 0
review rate number                0
calculated host listings count    0
availability 365                  0
house_rules                       0
license                           0
dtype: int64